.container
  = form_with(model: @profile, url: profile_path, method: 'put', local: true) do |f|
    .field.form_item
      = f.label :account, class:'form_label'
      %br/
      = f.text_field :username, autofocus: true, autocomplete: "name", class: 'form_field';
    .field.form_item
      = f.label :avatar, 'avatar', class:'form_label'
      %br/
      = f.file_field :avatar
    .login_bottom
      .actions.login_actions
        = f.submit "保存", class: 'submit_btn save_btn'