.container.profile_container
  .profile_top
    = link_to '←', '#', class: '_back'
    %p._yourname
      = username_updated(@profile)
    ._img
      = avatar_attached(@profile)
  .profile_middle
    ._item
      %p._counts 55
      %p._status Posts
    ._item
      %p._counts 34
      %p._status Followings
    ._item
      %p._counts 14
      %p._status Followers
  .profile_bottom
//////　モーダルウィンドウ（edit画面）//////
#modal
  #modal_bg
  .modal_inner
    = form_with(model: @profile, url: profile_path, class: 'profile_form',  method: 'put', local: true) do |f|
      .field.form_item
        = f.label :account, class:'form_label'
        %br/
        = f.text_field :username, autofocus: true, autocomplete: "name", class: 'form_field';
      .field.form_item
        = f.label :avatar, 'avatar', class:'form_label'
        %br/
        = f.file_field :avatar
      .profile_form_bottom
        .actions.profile_form_actions
          = f.submit "保存", class: 'submit_btn save_btn'
